<section id="todos">
  <header>
    <h2>Editing '<%= @list[:name] %>'</h2> 
    <ul>
      <li>
        <form action="/lists/<%= @list_id %>/delete" method="post" class="delete">
          <li>
            <button type="submit" class="delete">Delete List</button>
          </li>
        </form>
      </li>
    </ul>
  </header>
</section>

<form action="/lists/<%= @list_id %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for the list:</label>
    </dt>
    <dd>
      <% invalid_name = session.delete(:invalid_name) %>
      <input type="text" name="list_name" placeholder="List Name" value="<%= invalid_name || @list[:name] %>" >
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @list_id %>">Cancel</a>
  </fieldset>
</form>
