<ul id="lists">
  <% sort_lists(@lists) do |list| %>
    <li class="<%= list_status(list) %>" >
      <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2> 
        <p><%= @storage.total_todos_remaining(list[:id]) %> / <%= @storage.total_todos(list[:id]) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">Add a new list</a>
<% end %>
