<ul id="lists">
  <% sort_lists(@lists) do |list| %>
    <li class="<%= list_status(list) %>" >
      <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2> 
        <p><%= list[:total_todos_completed] %> / <%= list[:total_todos] %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">Add a new list</a>
<% end %>
